@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* General */

.bold{
    font-weight:bold;
}

.linebreak{
    width:20px;
    height:5px;
    background-color: #546e41;
    display:block;
    margin:20px auto;
}

/* Colors */

.bg-nav{
    background-color: #546e41;
}

/* Navigation */

.logo{
    background: url(../images/logowhite.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:150px;
    width:150px;
}

.link{
    color: #fafafa;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: center;
    margin:0 auto;
}

.link:hover{
    color: #8aab7e;
}

.navigation{
    width:100%;
    display: flex;
    justify-content: center;
}

.nav-social{
    padding:15px;
    margin: 0 auto;
    text-align:center;
}

.nav-social li{
    list-style-type: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fafafa;
}

.nav-social li i {
    width:35px;
    height: 35px;
    border-radius: 50%;
    color: #756342;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    }

.nav-social li i:hover {
    color: #8aab7e;
    border-color: #8aab7e;
    transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
}

.toggle-nav{
    margin-right:5%;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.toggle-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.toggle-icon i{
    color:#fafafa;
    font-size: 30px;

}

/* Hero Section */

.hero-image-home{
    height:100vh;
    background: url(../images/van.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-section{
    position:relative;
}

.hero-text{
    width:70%;
    position: absolute;
    left:50%;
    top:5%;
    margin-left: -35%;

}


.hero-text h1{
    color: #546e41;
    font-family: "Ubuntu", sans-serif;
    font-weight:600;
    font-size:20px;
    text-align: center;
    margin:10px;
}

.hero-text h3{
    color: #fafafa;
    font-family: "Ubuntu", sans-serif;
    font-weight:300;
    font-size:16px;
    text-align: center;
    margin:10px;

}

/* Profile Image & Bio */


.bioimage{
    height:200px;
    width:200px;
    border-radius: 50%;
    background: url(../images/profile.jpg);
    background-size: cover;
    background-position: center;
    margin: 50px auto;
}

.bio-text-section{
    height: 300px;
    
}

.biotext{ 
    font-family: "Ubuntu", sans-serif;
    font-weight:400;
    font-size: 16px;
    text-align: center;
    padding: 0 30px;

}


/* Media Queries */

@media (min-width: 768px){

    /* Navigation */

    .navigation{
        width:90%;
    }

    .link{
        font-size: 14px;
    }

    /* Hero Image Text */

    .hero-text{
        top:10%;
    }

    /* Profile Image & Bio */

    .biotext{
        padding: 30px 75px;
    }


@media (min-width: 1024px){

    /* Navigation */

    .navigation{
        width:78%;
    }

    .nav-social{
        margin-left:75px;
    }

    .link{
        margin-left: 30px;
        font-size: 16px;
    }

    .logo{
        margin:10px;
    }

    /* Hero Image Text */


    .hero-text h1{
        font-size: 25px;
    }

    .hero-text h3{
        font-size:18px;
    }

    /* Profile Image & Bio */

    .bio-text-section{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .biotext{
        padding: 0 30px;
    }

}

@media (min-width: 1440px){

    /* Navigation */

    .navigation{
        width:82%;
    }


    .logo{
        width: 175px;
        height: 175px;
    }

    /* Profile Image & Bio */

    .bioimage{
        height:250px;
        width:250px;
    }

    .biotext{
        font-size:18px;
    }

    .bio-text-section{
        height: 350px;

    }
}

@media (min-width: 2560px){

    /* Navigation */

    .navigation{
        width:88%;
    }

    .link{
        font-size: 25px;
    }

    .logo{
        width: 250px;
        height: 250px;
    }

    .nav-social li{
        width: 60px;
        height: 60px;
    
    }

    .nav-social li i {
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    }

    /* Hero Image Text */

    .hero-text h1{
        font-size: 35px;
    }

    .hero-text h3{
        font-size:25px;
    }

     /* Profile Image & Bio */

    .bioimage{
        height:350px;
        width:350px;
    }

    .biotext{
        font-size:22px;
    }

    .bio-text-section{
        height: 450px;

    }
    
}